*{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
}


.title{
    padding:10px ;
    position: absolute;
    left: 20px;
}

.logo{
    position: absolute;
    right: 0px;
    width: 160px;
    height: 150px;
    padding-bottom: 20px;
}

.hr{
    border: 2px
  }


.body{
    background-color: white;
    display: flex;
    overflow-y: scroll;
}


.container{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-style: normal;
    font-size: medium;
    padding: 5px;
    
    }

.container h3{
    margin-top: 30px;
    text-align: center;
    font-size: larger;
    }
  
  form {
    width: 68%;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
  }
  
  .form-row0 {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .form-row1 {
    margin-top: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .form-row2 {
    margin-top: 0;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    justify-self: start;
    text-align: left;
  }
  
  select{
    width: 150%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    outline: #ffffff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    border: 1.8px solid rgba(0, 0, 0, 0.514);
  
  }
  
  .form-row1 input {
    width: 150%;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    border: 1.8px solid rgba(0, 0, 0, 0.514);
  } 
  
  .form-row2 input  {
    width: 150%;
    height: 170%;
    padding: 20px;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    border: 1.8px solid rgba(0, 0, 0, 0.514);
  }

  input::placeholder {
    font-style: italic;
    text-align: left;
  }
  
  button {
    background-color: #461b74;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 17%;
    border-radius: 10px;
    cursor: pointer;
    align-items: right;
    margin-left: 50%;
  }
  
  .form-row1 button {
    background-color: #442454;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    align-items: right;
    margin-left: 135%;
  }
  
  button:hover {
    background-color: #6b467d;
  }
  
  
  .result-box {
    margin-top: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 90%;
  }
  
  .result-box p{
    width: 150%;
    height: 200%;
    padding: 70px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;
    border: 1.8px solid rgba(0, 0, 0, 0.514);
    font-style: normal;
  }
  
  .container footer {
    color: rgba(0, 0, 0, 0.578);
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    left: 0; /* Align to the left */
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

.input-group-append button{
    background-color:#442454;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 13%;
    border-radius: 10px;
    cursor: pointer;
    align-items: right;
    margin-left: 50%;
}

.input-group-append button:hover {
    background-color: #6b467d;
  }
  
  

.headbar {
    background-color: #221127;
    justify-content: end;
    padding: 5px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.headbar .menu-profile {
    padding: 2px;
    text-decoration: none;
}

.headbar .menu-profile ul{
    list-style: none;
}
.headbar .menu-profile .nav-link{
    text-decoration: none;
    color: white;
}

.headbar .menu-profile a{
    text-decoration: none;
}

.sidebar{
    background-color: #221127;
    width: 270px;
    padding: 10px 20px 20px 20px;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    transition: all ease-in .4s;
}

.sidebar.hide {
    width: 80px;
    transition: all ease-out .4s;
}

.main-content{
    background-color: white;
    flex-grow: 1;
    
}

.sidebar .description-header{
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    
}

.sidebar.hide .description-header{
    display: none;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .header .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 5px;
}
.sidebar .header .list-item .icon{
    margin-right: 12px;
    margin-top: 0;
}

.sidebar .header .illustration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0 22px 0;
    box-sizing: border-box;
}

.sidebar.hide .illustration{
    display: none;
}

.sidebar .main .list-item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.sidebar.hide .main .list-item .description{
    display: none;
}

.sidebar .main .list-item .icon{
    margin-right: 12px;
}

.sidebar .main .list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    width: 212px;
    height: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all ease-in .4s;
}

.sidebar.hide .main .list-item{
    width: 45px;
}

.sidebar .main .list-item:hover{
    background: #6b467d;
    transition: all ease-in .4s;
}

.sidebar .iconz{
    height: 36px;
    margin-right: 15px;
    margin-left: 0;
    margin-bottom: 10px;
}

.sidebar .icons{
    height: 140px;
    padding: 0;
}

.sidebar .icon{
    height: 25px;
}

.headbar .menu-profile .icon{
    height: 25px;
    margin-right: 25px;
    margin-top: 10px;
}


/* Toogle Menu*/
#menu-button {
    padding-top: 20px;
    width: 25px;
    position: absolute;
    overflow: hidden;
}

#menu-label {
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}

#humberger, #menu-label:after, #menu-label::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
}

#menu-label:after, #menu-label:before {
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label:before {
    top:0;
}

#menu-label:after {
    top: 8px;
}

#humberger{
    top: 16px;
}

#humberger:before{
    content: "-     -     -";
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label:before {
    left: -39px;
}

#menu-checkbox:checked + #menu-label:after {
    left: 39px;
}

#menu-checkbox:checked + #menu-label #humberger:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, 
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
    0%{
        top: 0;
    }
    50%{
        top: -27px;
    }
    100%{
        top: -14px;
    }
    
}

@keyframes shakeUp {
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

@keyframes shakeDown {
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
}


.head-index {
    background-color: #111827;
}

  

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile p {
    margin: 10px 0;
    font-size: 16px;
}

.profile strong {
    font-weight: bold;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.profile-info {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    margin: 10px 0;
}

.profile-info strong {
    font-weight: bold;
    color: #333;
}

.profile-info .label {
    font-weight: bold;
    color: #666;
}

.profile-info .value {
    color: #333;
}
