.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form select {
    margin-top: 5px;
}

form input[type="text"] {
    margin-top: 5px;
}

.interest-input {
    width: 70%;
}


form button {
    margin-top: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-history {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    #recommendation-form {
        width: 100%;
    }
}