body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: #ffffff; /* Set background color to white */
    text-size-adjust: none;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

header {
    background-color: #442454;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 1;
}

header img {
    height: 60px;
    margin-left: 15px;
    margin-right: 25px;
}

.center-box {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 135px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 100px;
    border: 2px solid #000000;
    border-radius: 10px; /* Added border radius */
    overflow: hidden; /* Hide the overflowing content */
}

h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    font-size: 0.8em;
}

th {
    background-color: #f2f2f2;
    font-size: 1em;
}

th.colspan-3 {
    background-color: #f2f2f2;
    font-size: 0.9em;
}

footer {
    background-color: #442454;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}